H1, H2, H3, H4, H5, H6 {
  color: #242423;
}

.navbar {
  background-color:#032066ad !important
}

.navbar .nav-link {
  color: #ffffff !important;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active {
  color: #ffffff;
  font-size: x-large;
  font-weight: bold;
}

.nav-link {
  display: block;
  padding: 0.2rem 1rem;
}

.nav-tabs .nav-link {
  border: 1px solid;
  color: #2C3E50;
  border-color: #ecf0f1af;
  height:3em;
}

.nav-tabs .nav-link:hover {
  border-color: #dee2e6;
  background-color: #f5f5f5;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
  background-color: #f5f5f5;
  color: #000000;
}

.row {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.row .values {
  width: 29px;
  height: 21px;
  text-align: center;
  background-color: #D8F1FD;
  border-radius: 6px;
}

.content-row {
 padding-top:25px;
}

.card-body {
  padding: 0.9rem;
}